{{extend 'layout.html'}}
<style>
body {
    background-color: #f7f7f7;
}
    h1{ color: #3b5998};
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

{{block head}}
<script src="{{=URL('static','js/vue.js')}}"></script>
{{end}}

<script>
    // These will be referenced in the default_index.js
    // I'm not sure why we must created here, instead of somewhere else.
    // But this leads to api.py
    var posts_url = "{{=URL('api', 'get_posts')}}"
    var userpost_url = "{{=URL('api', 'get_userpost')}}"
    var edit_url = "{{=URL('default','show')}}"
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var add_to_fav_url = "{{=URL('api','add_to_fav')}}";
    var get_fav_url = "{{=URL('api','get_fav')}}"
    var profile_url = "{{=URL('default','profile')}}"

</script>

<div class = "title-div text-center" style="position:relative;right:5px;">
    <img src="http://i.imgur.com/I3hJ3R3.png" alt="Indeciso">
</div>

<div id = "vue-div" class = "display:none">
    <div class="buttons">
        <a href="{{=URL('default','create_argument')}}" class="btn btn-danger btn-sm text-center">
            <i class="fa fa-plus"></i>New Post
        </a>
        {{if auth.user_id:}}
            <a href="{{=URL('default','profile')}}" v-on:click="store_email(user_email)" class="btn btn-primary btn-sm text-center">
                Profile
            </a>
        {{pass}}
    </div>

    <div class = "result_table text-center">

        <div class = "scroll">
            <div class ="favoritestext">
                Following
            </div>
            <br>
            {{if auth.user_id:}}
                <div v-for="favs in favorites">
                    <a v-bind:href="fav_link(favs.postKey)" class="">
                        ${favs.postKey}
                    </a>
                    <a v-bind:href="fav_link(favs.post_Key)">
                        ${favs.post_Key}
                    </a>
                </div>
            {{pass}}
        </div>

        <div v-for="post in posts">
            <div class="Args text-center">
                <div class = "Args_created_by">
                    <div>
                        <a href="{{=URL('default','profile')}}" v-on:click="store_email(post.user_email)" class="something">
                            ${post.first_name}
                        </a>
                    </div>
                     ${post.created_on}
                </div>

                <div class="comment_index">
                    <a v-bind:href="edit_post(post.id)"  class="Args_title">
                        <button class="btn btn-default btn-sm" v-on:click="edit_post(post.id)">Comments</button>
                    </a>
                </div>

                <a v-bind:href="edit_post(post.id)" class="title_line">
                    ${post.post_title}
                </a>
                {{if auth.user_id:}}
                    <div class="follow">

                        <button v-if="!test_fn(post.post_title)" class = "btn btn-success btn-sm" v-on:click="add_to_fav(post.post_title)">
                            <i class="fa fa-plus-square"> Follow </i>
                        </button>
                        <button v-else class = "btn btn-fail btn-sm">
                            <i class="fa fa-check"> Followed </i>
                        </button>
                    </div>
                {{pass}}
                <div class = "Args_wrapper">
                    <br>
                    <br>
                    <div class = "Args_For" v-for="arg in post.post_for">
                        ${arg}
                        <br>
                    </div>
                    <div class = "Args_Against" v-for="arg in post.post_against">
                        ${arg}
                        <br>
                    </div>
                    <div class = "Args_cleared"></div>

                    <div class="Args_footer"></div>
                    <br>
                </div>
            </div>
        </div>
        <div v-if="has_more" class="show_more">
            <button class="btn btn-danger btn-sm" v-on:click="get_more()">
                Load More
            </button>
        </div>
    </div>
</div>






<script src="{{=URL('static','js/default_index.js')}}"></script>
