{{extend 'layout.html'}}

{{=place}}

<h1> Welcome, {{=auth.user.first_name}} </h1>
<h2>This is {{  if auth.user.first_name == "Sean":
                    response.write("your page")
                else: response.write("Sean\'s page")}}
</h2>


{{=A('Next Page', _href=URL('default','index'), _class='btn btn-primary')}}
