{{extend 'layout.html'}}
<style>
body {
    background-color: #f7f7f7;
}
    h1{ color: #3b5998};
</style>


<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

{{block head}}
<script src="{{=URL('static','js/vue.js')}}"></script>
{{end}}

<script>
    // These will be referenced in the default_index.js
    // I'm not sure why we must created here, instead of somewhere else.
    // But this leads to api.py
    var posts_url = "{{=URL('api', 'get_posts')}}"
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_url = "{{=URL('default','show')}}"
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var vote_post_url = "{{=URL('api', 'vote_post', user_signature=True)}}";
    var userpost_url = "{{=URL('api', 'get_userpost')}}";
    var add_userspost_url = "{{=URL('api', 'add_userpost', user_signature=True)}}";
    var get_fav_url = "{{=URL('api','get_fav')}}"
</script>

<div id="vue-div" class="display:none">
    <h1><b>${email}'s Profile</b></h1>
        <div class = "back_button">
            <a href="{{=URL('default','index')}}" v-on:click="clear_post()" class="btn btn-warning btn-sm text-center">
                Back
            </a>
        </div>

        <div class = "result_table text-center">
            <div v-for="post in userposts">
                <div class="Args text-center">
                    <a v-bind:href="edit_post(post.id)"  class="title_line">
                        ${post.post_title}
                    </a>
                    ${post._idx}
                    <i class="fa fa-trash-o" v-on:click="delete_post(post.id)"> </i>
                    <br>
                    <br>
                    <br>
                    <div class = "Args_wrapper">
                      <br>
                        <div class = "Args_For" v-for="arg in post.post_for">
                            <button class="btn btn-primary btn-xs" v-on:click="voting(post.id, 'for')">
                                <i class="fa fa-arrow-up"> </i>
                            </button>
                            ${arg}
                            (${post.vote_for})
                        </div>
                        <div class = "Args_Against" v-for="arg in post.post_against">
                            <button class="btn btn-danger btn-xs" v-on:click="voting(post.id, 'against')">
                                <i class="fa fa-arrow-up"> </i>
                            </button>
                            ${arg}
                            (${post.vote_against})
                        </div>
                        <div class = "Args_cleared"></div>
                    </div>
                    <br>
                    <br>
                    <div class="Args_footer">
                        <br>
                        <div class = "Args_created_by">
                            <a href="{{=URL('default','profile')}}" v-on:click="store_email(post.user_email)" class="something">
                            ${post.user_email}
                            ${post.created_on}
                        </a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div v-if="user_has_more" class="show_more">
        <button class="btn btn-default" v-on:click="user_get_more()">
            Load more
        </button>
    </div>
</div>

<script src="{{=URL('static','js/default_index.js')}}"></script>
