{{extend 'layout.html'}}
<style>
body {
    background-color: #f7f7f7;
}
</style>

<style>
    h1{ color: #3b5998}
</style>

<h1><b>Comments</b></h1>
{{block head}}
<script src="{{=URL('static','js/vue.js')}}"></script>
{{end}}


<div class = "back_button">
{{=A('Back', _href=URL('default', 'index'), _class='btn btn-warning btn-sm')}}
</div>

<div class = "Args">
    <div class="title_line">
        {{=form.Argument_title}}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "Args_wrapper">
        <div class = "Args_For">
            <center>

            {{for x in range(len(form.Arguments_For)):}}
                <i class="fa fa-arrow-up"> </i>
                {{=form.Arguments_For[x]}}
                ({{=form.For_vote}})
                <br>
            {{pass}}
            </center>
        </div>
        <div class = "Args_Against">
            <center>
            {{for x in range(len(form.Arguments_Against)):}}
                <i class="fa fa-arrow-up"> </i>
                {{=form.Arguments_Against[x]}}
                ({{=form.Against_vote}})
                <br>
            {{pass}}
            </center>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "Args_created_by">
        {{=form.created_by.first_name}}
        {{=form.created_by.last_name}}
        {{=form.created_on}}
    </div>
</div>


{{for comment in comments:}}
    <div class="comment_format">
        <font size="2"><font color="#bb0000"><b>{{=comment.created_by.first_name}}
        {{=comment.created_by.last_name}} replied on {{=comment.created_on}}:
        </b></font></font>
        <br>
        {{=comment.comment_content}}
    </div>
{{pass}}

{{if auth.user_id:}}
<div class = "comment_box">
{{=newForm}}
</div>
{{pass}}