/* line 1, ../sass/_main.scss */

.header-div{
    font-size: 24px;
    color: rgba(187, 72, 28, 0.86);
}

.title-div{
    font-size: 48px;
    color: #8f5f7a;
}

.RandomNumber-div{
    margin: auto;
    border-radius: 25px;
    border: 2px solid rgb(146, 146, 146);
    background: #d0cdcc;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 64px;
}

a .fa{
  margin-right: 10px;
}

.post_list {
  padding-top: 10px;
}

/* line 11, ../sass/_main.scss */
.Args {
  border-color: #dfe3ee;
  border-style: solid;
  border-width: 2px;
  background: #ffffff;
    width: 45%;
    min-width: 600px;
    height: 250px;
  margin: 20px 500px 20px 300px;
  padding: 15px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 7px;
  font-size:14px;
}
.Args_title{
    font-size:14px;
}

.Args_wrapper {
  margin-right: 200px;
}

.Args_For {
    float: left;
    font-size: 14px;
    color: white;
    width: 55%;
    font-weight: normal;
    background-color: #0275D8;
}

.Args_Against {
    float: right;
    width: 55%;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-right: -200px;
    background-color: #D9534F;
}
.Args_cleared {
  clear: both;
}
.Args_footer{
    font-size:18px;
    color: black;
    font-weight: bold;
}
.Args_created_by{
    float:left;
    font-size:12px;
    color: gray;
    position: relative;
    top: 90%;
    z-index:9999;
}
.Args_created_on{
    float:left;
    position: relative;
    left: 20%;
}
.Args_modified_by{
    float:right;
}

.mycontent{
    background-color: #f7f7f7;
}

.buttons{
    margin-left: 295px;
    padding: 5px;
}

.navbar-default{
    background-color: #3b5998;
    border-color:  #8b9dc3;
}
.comment_format{
    border-color: #dfe3ee;
  border-style: solid;
  border-width: 2px;
  background: #ffffff;
    width: 600px;
    height: 200px;
  margin: 20px 500px 20px 300px;
  padding: 15px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 7px;
  font-size:14px;
}
.back_button{
    margin-left: 850px;

}
.comment_box{
    margin-left: -40px;
}
.comment_index{
    text-align: right;
    position: relative;
    top: 85%
}
.favorite_box{
    border-color: #dfe3ee;
  border-style: solid;
  border-width: 2px;
  background: #ffffff;
    width: 200px;
    height: 200px;
  margin: 20px 100px 20px 100px;
  border-radius: 7px;
  font-size:14px;
}
.follow{
    float:right;
    position: relative;
    top: -15%;
    padding-top: 5px;

}
.title_line{
    font-size:18px;
    color: black;
    font-weight: bold;
    float:left;
    position: relative;
    top: -15%;
}
.scroll {
    background-color: #ffffff;
    border-color: #dfe3ee;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    width: 250px;
    height: 350px;
    padding-top:10px;
    overflow: auto;
    position: fixed;
    top: 44.0%;
}
.favoritestext{
    font-size:18px;
    font-weight: bold;
    color: 	#3b5998;
}
.show_more{
    padding: 10px;
    margin-left:295px;
    float:left;
}
.ads{
    margin-left: 900px;
}
.adtext{
    position:fixed;
    top: 40%;
    right:155px;
}

.adtext1{
    position:fixed;
    text-align: right;
    right:155px;
}
